@import "../../vars.css";

.introContainer {
    background: linear-gradient(101deg, #FAD79C -6.15%, rgba(245, 178, 147, 0.95) 2.34%, rgba(243, 169, 144, 0.81) 16.2%, rgba(241, 161, 142, 0.78) 23.3%, rgba(238, 145, 136, 0.73) 27.99%, rgba(233, 122, 128, 0.65) 32.92%, rgba(231, 115, 126, 0.72) 42.14%, rgba(232, 120, 127, 0.76) 49.8%, rgba(232, 118, 127, 0.90) 58.72%, #E7717D 69.3%, #A24D75 107.02%);
    /* background: linear-gradient(101deg, #FAD79C -6.15%, rgba(245, 178, 147, 0.95) 2.34%, rgba(243, 169, 144, 0.81) 19.17%, rgba(241, 161, 142, 0.72) 35.2%, rgba(238, 145, 136, 0.73) 44.09%, rgba(233, 122, 128, 0.74) 49.99%, #E7717D 69.3%, #A24D75 107.02%); */
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11.05vh 0;
}

.introText {
    padding-left: 142px;
    color: white;
    font-weight: 700;
}

.introText h1 {
    font-size: 80px;
}

.animatedText {
    font-size: 30px;
    max-width: 40vw;
}

.introIcon {
    width: 435px;
    height: auto;
    margin-right: 142px;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 2.5s;
}

.coloredWord {
    color: var(--color-pink);
    display: inline-block;
    animation: flipAnimation 8s infinite 3s;
    transform-style: preserve-3d;
}

@keyframes flipAnimation {
    0% {
        transform: rotateX(0deg);
    }

    30% {
        transform: rotateX(360deg);
    }

    100% {
        transform: rotateX(360deg);
    }
}

@keyframes float {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0,-0px);
    }
}

@media screen and (max-width: 830px) {
    .introContainer {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 32px 0;
    }

    .introAnimation  {
        order: -1;
        height: auto;
        width: 75%;
    }

    .introIcon {
        margin: 0;
        width: 300px;
        height: auto;
    }

    .introText {
        padding: 0 19px;
        text-align: center;
        max-width: 100%;
    }

    .animatedTextTitle {
        font-size: 55px;
    }

    .animatedText {
        font-size: 30px;
        padding-bottom: 32px;
        max-width: 80vw;
    }

    .coloredWord {
        color: var(--color-primary);
        animation: none;
    }
}